# GitHub Token，用于请求 GitHub API，建议只给博客仓库的 Issue 权限
VITE_GITHUB_TOKEN="github_xxx, xxxxx" # 格式：github_xxx, xxxxx，中间用英文逗号和空格分隔

# Gist Token，用于存储访客数
VITE_GIST_TOKEN="ghp_xxx, xxxxx" # 格式：ghp_xxx, xxxxx，中间用英文逗号和空格分隔
VITE_GIST_ID="Your Gist ID"

# Twikoo，用于评论系统，不需要请删除
VITE_TWIKOO_ID="Your Twikoo ID"

# 分析系统，不需要请删除
VITE_CLARITY_ID="Your Clarity ID"

# 评论系统，不需要请删除
VITE_UTTERANCES_CODE="<script src="https://utteranc.es/client.js" repo="username/comments" issue-term="title" label="Comment" theme="github-light" crossorigin="anonymous" async></script>"
