.from-bottom-enter-active,
.from-bottom-leave-active {
  transition: all .3s ease-in-out;
}

.from-bottom-enter,
.from-bottom-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

.archives-wrap {
  margin: 0 auto;
  margin-top: 2em;
  width: 100%;
  max-width: 876px;
  
  .archives {
    width: 100%;
    padding: 2rem;
    background-color: var(--bg-thin);
    border-radius: 2em;
  
    h2 {
      font-size: 1.6rem;
      line-height: 1.4;
      font-weight: bold;
      color: var(--accent);
    }
  
    .tags {
      margin-bottom: 2em;
  
      .tags-header {
        display: flex;
        align-items: center;
        gap: .6em;
        margin-bottom: 1em;
  
        .clear-all {
          font-size: .8rem;
          color: white;
          background-color: var(--primary);
          padding: .2em 1em;
          border-radius: 1em;
          cursor: pointer;
          transition: all .2s ease-in-out;
  
          &:hover {
            opacity: .8;
          }
        }
      }
  
      .tags-body {
        .tag-list {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          gap: .6em;
  
          .tag {
            padding: .5em 1em;
            border-radius: 1em;
            background-color: var(--bg-weak);
            color: var(--weak);
            font-size: .8rem;
            cursor: pointer;
            transition: all .2s ease-in-out;
            animation: drop .3s ease-in-out forwards calc(var(--delay) * .01s);
  
            @keyframes drop {
              from {
                opacity: 0;
                transform: translateY(calc(var(--delay) * -10px));
              }
              
              to {
                opacity: 1;
                transform: translateY(0);
              }
            }

            &:hover {
              background-color: var(--bg-major);
              color: var(--major);
              transform: scale(1.1);
            }
  
            &.active {
              background-color: hsla(var(--tag-hsl), .1);
              color: var(--color);
            }
          }
        }
      }
    }
  
    .archives-list {
      .archives-header {
        display: flex;
        align-items: center;
        gap: .6em;
        margin-bottom: 1em;
  
        .edit {
          display: none;
          overflow: 0;
          justify-content: center;
          align-items: center;
          font-size: .8rem;
          color: white;
          background-color: var(--primary);
          padding: .5em 1em;
          border-radius: 1em;
          cursor: pointer;
          transition: all .2s ease-in-out;
  
          &:hover {
            opacity: .8;
          }
        }
  
        &:hover .edit {
          display: inline-flex;
        }
      }
  
      .archives-body {
        position: relative;
        min-height: 92px;

        .archive-items {
          margin-bottom: 1em;
  
          .archive-year {
            font-size: 1rem;
            color: var(--thin);
            margin-bottom: .5em;
          }
  
          .archive-item-list {
            display: flex;
            flex-direction: column;
            gap: 1em;
          }
        }
      }
    }
  }

  @include type-area {
    & {
      padding-left: 9px
    }
  }

  @include xs-layout {
    .archives {
      padding: 2rem 1rem;
      .archives-list {
        .archives-header {
          .edit {
            display: inline-flex;
          }
        }
      }
    }
  }
}
