.from-bottom-enter-active, .from-bottom-leave-active {
  transition: all .3s ease-in-out;
}

.from-bottom-enter, .from-bottom-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

.inspiration-wrap {
  margin: 0 auto;
  margin-top: 4em;
  width: 100%;
  max-width: 876px;
  
  .inspiration {
    width: 100%;
    padding: 2rem;
    background-color: var(--bg-thin);
    border-radius: 2em;
  
    h2 {
      margin-bottom: 1.6em;
      font-size: 1.6rem;
      line-height: 1.4;
      font-weight: bold;
      color: var(--accent);
    }
  
    .ideas-wrap {
      position: relative;
      min-height: 200px;
      width: 100%;
      
      > div {
        display: flex;
        flex-direction: column;
        gap: 2em;
      }

      .idea-item {
        width: 100%;
      }
    }
  }

  @include type-area {
    & {
      padding-left: 9px
    }
  }

  @include xs-layout {
    .inspiration {
      padding: 2rem 1rem;
    }
  }
}
