.search-wrap {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
  padding: 32px;
  border-radius: 20px;
  background-color: transparent;
  transition: transform .4s;
  .close-btn {
    opacity: 0;
    position: absolute;
    top: 1em;
    right: 2em;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--bg-major);
    cursor: pointer;
    svg {
      color: var(--primary);
    }
  }
  .search-box {
    position: relative;
    height: 58px;
    .search-input {
      box-sizing: border-box;
      outline: none;
      border: none;
      width: 360px;
      height: 58px;
      padding: 15px 20px;
      border-radius: 15px;
      background-color: var(--bg-major);
      color: var(--primary);
      caret-color: var(--primary);
      font-size: 16px;
    }
    .search-input::placeholder {
      font-size: 14px;
      color: var(--weak);
    }
    .search-btn {
      box-sizing: border-box;
      position: absolute;
      right: 10px;
      bottom: 50%;
      padding: 0 1em;
      transform: translateY(50%);
      height: 40px;
      line-height: 40px;
      color: whitesmoke;
      font-size: 14px;
      letter-spacing: .2em;
      font-weight: bold;
      background-color: var(--primary);
      text-align: center;
      border-radius: 10px;
      white-space: nowrap; 
    }
  }
  .search-res {
    opacity: 0;
    background-color: var(--bg-thin);
    width: 100%;
    margin-top: 32px;
    border-radius: 10px;
    transition: opacity 1s ease;
    .posts {
      position: relative;
      min-height: 298px;
    }
    .items {
      display: flex;
      flex-direction: column;
      line-height: 1.5;
      gap: .4em;
      color: var(--major);
      
      li {
        cursor: pointer;
        &:hover {
          color: var(--accent);
        }
      }

      .item {
        svg {
          font-size: 1.2rem;
          margin-right: .2em;
        }
      }
    }
    p {
      position: relative;
      margin-top: 2em;
      text-align: center;
      font-size: .8rem;
      color: var(--minor);
      &::before {
        content: '';
        position: absolute;
        top: -.8em;
        left: 50%;
        transform: translateX(-50%);
        width: 5em;
        height: 1px;
        background-color: var(--thin);
      }
    }
  }
}

.search-wrap.active {
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 650px;
  max-height: 560px;
  background-color: var(--bg-thin);
  z-index: 100;
  .close-btn, .search-res {
    opacity: 1;
  }
  & ~ .mask {
    @include modal-mask;
  }
}

@include xs-layout {
  .search-wrap {
    padding: 2vw;
    margin-left: 9px;
    .search-box {
      width: 100%;
      .search-input {
        width: 100%;
      }
    }
  }
  .search-wrap.active {
    margin: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    top: 0;
    transform: translateY(0);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    .close-btn {
      top: calc(2em + 14px);
      right: 2vw;
    }
    .search-box {
      margin-right: calc(2vw + 30px);
      width: calc(100% - 2vw - 30px);
      .search-input {
        width: 100%;
      }
    }
    .search-res {
      margin-top: 1em;
    }
  }
}
